//META{"name":"Spotify Discord (Kanny's Pallet)","description":"Pallet Swap for Spotify Discord by CapnKitten","author":"AirborneRadio","version":"1.3.7"}*//{}
@import url(https://capnkitten.github.io/BetterDiscord/Themes/Spotify-Discord/css/source.css);
:root {
	--accent-color: #FF0050;
	--accent-hover: #cc0041;
	--accent-rgb: 255,0,90;
	--alt-accent: #5680d4;
	--alert-color: #f04747;
	--alert-hover: #ff4c4c;

	--chat-color: #1e1e1e;
	--chat-box-color: #171717;
	--side-color: #191919;
	--bar-color: #2c2c2c;
}
